.articleCard{
    width: '18rem';
    background-color: rgba(92, 92, 92, 0.575);
    height: 60vh !important;
    width: 25rem;
    overflow-y: scroll;

}

.riassuntoArticolo{
    overflow-y: scroll;
    max-height: 100px;
}